<%= link_to "Andina", welcome_landing_path, class: "navbar-brand", data: { no_turbolink: true } %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Alle Kategories
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%=link_to 'Schals', store_index_url, class: 'dropdown-item' %>
        <%=link_to 'Mützen', store_index_url, class: 'dropdown-item' %>
        <%=link_to 'Ponschos', store_index_url, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%=link_to 'Pisco', store_index_url, class: 'dropdown-item' %>
        <%=link_to 'Weine', store_index_url, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%=link_to 'Alles', store_index_url, class: 'dropdown-item' %>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Soon</a>
    </li>
  </ul>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    <% if not session[:user_id] %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Anmelden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to 'Anmelden', login_path, class:'dropdown-item'%>
          <div class="dropdown-divider"></div>
          <%=link_to 'Neues Konto erstellen', new_user_path, class:'dropdown-item' %>
        </div>
      </li>
    <% end %>
    <% if session[:user_id]  %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hallo
          <%= @user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to 'Mein Konto', @user, class:'dropdown-item'%>
          <div class="dropdown-divider"></div>
          <%=link_to 'Abmelden', logout_path, method: :delete, class:'dropdown-item' %>
        </div>
      </li>
    <% end %>
    <li class="nav-item ">
      <%= link_to @cart, class:'nav-link' do%>
      Einkaufswagen 
      <% if @cart %>
        <% items = @cart.line_items.to_a.sum {|item| item.quantity} %>
          <% if items > 0 %>
            <span class="badge badge-danger"><%= items %></span>
          <% end %>
        <%end%>
      <%end%>
    </li>
  </ul>
</div>
