<h2>
  Ihren Einkaufswagen
</h2>
<table id="cart" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th style="width:50%"></th>
      <th style="width:10%">Preis</th>
      <th style="width:8%">Quantität</th>
      <th style="width:1%"></th>
    </tr>
  </thead>
  <div id="pro">
    <tbody >
      <%=render(cart.line_items)%>
    </tbody>
  </div>
  <tfoot>
    <td>
      <%=link_to 'Weiter Einkaufen', store_index_path ,class:'btn btn-warning float-left' %>
    </td>
    <td class="hidden-xs text-left">
      <strong>Total
        <%= number_to_currency(cart.total_price, :locale => :en) %></strong>
    </td>
    <td></td>
    <td>
      <%= link_to 'Check Out <i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, new_order_path, method: :get, class:'btn btn-success btn-block pull-right'%>
    </td>
    <tr></tr>
  </tfoot>
</table>
<%= button_to 'Einkaufswagen entleeren', cart, method: :delete, data: {confirm: 'Bist du sicher'}, class: 'btn btn-danger pull-right', id: 'einkaufswagen-entlehren' %>
