<%= form_with(model: product, local: true, html: {class: 'form-horizontal'}) do |form| %>
<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %>
      prohibited this product from being saved:</h2>

    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field form-group">
  <%= form.label :title, class: 'col-sm-2 control-label'%>
  <div class="col-sm-10">
    <%= form.text_field :title, id: :product_title, class: 'form-control' %>
  </div>
</div>

<div class="field form-group">
  <%= form.label :description, class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_area :description, id: :product_description, class: 'form-control' %>
  </div>
</div>

<div class="field form-group">
  <%= form.label :image_url, class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :image_url, id: :product_image_url, class: 'form-control' %>
  </div>
</div>

<div class="field form-group">

  <%= form.label :price, class: 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= form.text_field :price, id: :product_price, class: 'form-control' %>
  </div>
</div>

<div class="actions form-group">
  <div class="col-sm-offset-2 col-sm-10">
  </div>
</div>
<% end %>
