<tr>
  <td data-th="Product">
    <div class="row">
      <div class="col-sm-2 hidden-xs"><%= image_tag (product.image_url), class: "img-fluid", width: 100%></div>
      <div class="col-sm-10">
        <h4 class="nomargin"><%=product.title %></h4>
        <p><%= product.description %></p>
        <div class="row">
          <div class="col-sm-2 hidden-xs"><%= number_to_currency(product.price, :locale => :en, class: "pull-botton") %></div>
          <div class="col-sm-10">
            <%= button_to 'In den Einkaufswagen', line_items_path(product_id:product), class: 'btn btn-default pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </tr>
