<!DOCTYPE html>
<html>

  <head>
    <title>Andina</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'andina_logo'%>
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= render 'shared/navigation' %>
      </nav>
    </header>
  </br>

  <main role="main" classs"container">
    <div class="row">
      <aside class="col-md-2 sidebar">
        <%= render 'shared/side'%>
      </aside>
      <div class="col-md-8 main">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>
</body>
</html>
